extends layouts/main

block content
    .videos
        each item in videos
            h1= item.title
            p= item.description
            //-p#{potato} is for text but potato is like obj {potato: 1245}