extends layouts/main
include mixins/videoBlock

block content
    .videos
        each item in videos
            +videoBlock({
                title:item.title,
                views:item.views,
                videoFile:item.videoFile
            })
            //-p#{potato} is for text but potato is like obj {potato: 1245}