.social-login
    button.social-login--github
        a(href=routes.github)
            span
                i.fab.fa-github 
                |Continue with Github
                //- | is needed for text without tag as a same level as above one
    button.social-login--facebook
        a(href=routes.facebook)
            span
                i.fab.fa-facebook 
                |Continue with Facebook